<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgcities.tdc.optimizer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sg_cities_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sg_cities_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".application.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.ascdesc.TrackerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.ascdesc.TrackerFormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.visualocc.VisualOccupationFormActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.visualocc.VisualOccupationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.vehicularcap.VehicularCapacityActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.vehicularcap.VehicularCapacityForm"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.vehicularcap.VehicularCapAssignmentsActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>

        <activity
            android:name=".application.vehicularcap.VehicularCapacityExtendedActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"/>

        <activity
            android:name=".application.vehicularcap.EmergencyNotificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".application.ascdesc.AscDescAssignmentsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".application.visualocc.VisualOccupationAssignmentsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".application.origindestiny.OriginDestinyPollAssignmentsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        android:screenOrientation="portrait"/>
        <activity android:name=".application.origindestiny.OriginDestinyPollActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".application.origindestiny.OriginDestinyAssignmentDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity android:name=".application.vehicularcap.VehicularCapacityGenActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>